body{
    font-family: Arial, sans-serif;
    margin-left: 0;
    padding: 0;
    background-color: rgb(243, 241, 241);
}

header{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0% ;
    position: sticky;
    top: 0;
}

footer{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    background-image: url(images/footer_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}

#footerMap{
    margin-left: 13%;
    margin-top: 2%;
    color: white;
    
}

#footerRight{
    margin-left: 15%;
    color: white;
}

#footerMiddle{
    margin-left: 5%;
    margin-top: 3%;
    text-decoration: none;
    color: rgb(212, 212, 212);
    
}

#footerBottom{
    bottom: 0%;
    position: absolute;
   
}

#footerMiddle a{
    text-decoration: none;
    color: rgb(212, 212, 212);
    text-decoration: underline;
    
}
#footerLeft a{
    color: rgb(212, 212, 212);
    text-decoration: underline;
}


.logo{
    width: 45px;
    height: 45px;
    float: left;
    padding-bottom: 30px;
    
}

.search-bar input{
    padding: 12px;
    font-size: 12px;
    border-radius: 30px;
    border: none;
    margin-left: 30px;
    float: right;
}

nav{
    width: 100%;
    padding: 0.5rem;
    background-image: url('images/nav.png');



    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.9;
}

.nav-links {
    
    list-style: none; ;
    display: flex;
    gap: 1rem;
    border-radius: 30%;
    
    
   

}

.nav-links a {
    background-size: 50px 20px;
    padding: 50px 50px;
    width: 50px;
    height: 20px;
    text-decoration: none;
    color: rgb(24, 83, 73);
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    
    
    padding: 0.5rem 1rem;
}
.store img{

    border-radius: 30%;
    
}
.member_imgs td img{
    border-radius: 50%;

}

h2{
    margin-left: 50px;
}


.store td,
.store th{
    border-collapse: collapse;
    border: 2px solid ;
    border-radius: 10px;
}

