html{
    font-size: 15px;
}
body{
    font-family: Arial, sans-serif;
    margin-left: 0;
    padding: 0;
    background-color: rgb(243, 241, 241);
}

header{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0% ;
    position: sticky;
    top: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* footer across all pages */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    background-image: url(images/footer_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: 0;
    position: relative;
    
}

#footerMap{
    margin-left: 13%;
    margin-top: 2%;
    color: white;
}

#footerRight{
    margin-left: 15%;
    color: white;
}

#footerMiddle{
    margin-left: 5%;
    margin-top: 3%;
    padding-bottom: 10%;
    text-decoration: none;
    color: rgb(212, 212, 212);
}

#footerBottom{
    padding-top: 8%;
    bottom: 0%;
    position: relative;
}

#footerMiddle a{
    color: rgb(212, 212, 212);
    text-decoration: underline;
    
}
#footerLeft a{
    color: rgb(212, 212, 212);
    text-decoration: underline;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*LOGOS*/

/*RU Stylish logo across all pages */
.logo{
    width: 45px;
    height: 45px;
    float: left;
    padding-bottom: 30px;
    
}
/*ig and linkedin logos from about page*/
.iglogo, .linklogo{
    width: 45px;
    height: 45px;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*ABOUT PAGE*/

.search-bar input{
    padding: 12px;
    font-size: 12px;
    border-radius: 30px;
    border: none;
    margin-left: 30px;
    float: right;
}

nav{
    width: 100%;
    padding: 0.5rem;
    background-image: url('images/nav.png');



    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.95;
}

.nav-links {
    
    list-style: none; ;
    display: flex;
    gap: 1rem;
    border-radius: 30%;

}

.nav-links a {
    background-size: 50px 20px;
    padding: 50px 50px;
    width: 50px;
    height: 20px;
    text-decoration: none;
    color: rgb(24, 83, 73);
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    
    
    padding: 0.5rem 1rem;
}
.store img{

    border-radius: 30%;
    
}
.member_imgs td img{
    border-radius: 50%;

}

#member_links{
    align-content: center;
}

.members{
    padding-top: 10rem;
}

/* Items for sale page ------------------------------------------------------------*/

.ItemsForSale table{
    border-collapse: separate; 
    border-spacing: 1rem;       
    margin: 0 auto;
    width: 100%;  
    table-layout: fixed;  
}
.ItemsForSale td{
    gap: 5%;
    border-radius: 10%;       
    background-color: rgb(235, 198, 33);
    text-align: center; 
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2); 
    color: rgb(0, 0, 0);
}
.ItemsForSale h2{
    text-align: left;    
    background-color: #d1cfcf;
}


/*store page ------------------------------------------------------------*/

h2 {
    margin-left: 1rem;  
}



/* STORE PAGE */
.store_items{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    width: 100%;

    /*border-collapse: separate; 
    border-spacing: 1rem;       
    margin: 0 auto;
    width: 100%;  
    table-layout: fixed;*/ 
}
    

/*.store_items {
    flex:1 1 250px;
    color:black;
    min-width:200px;
    max-width:300px;
    text-align:center;
    padding: 15px;
    border-radius:20%;
    
    
}*/

.store_items .items{
    color:black;
    border-color: black;
    background-color: white;
    text-align: center;
    align-items: center;
    padding:20px;
    border-color:black;

    

}




.line{
    border-top: 2px solid rgb(33, 116, 103);
    margin: 2rem 0;
}
/*.store td{
    gap: 5%;
    border-radius: 10%;       
    background-image: url("images/card_bg.png");
    text-align: center; 
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2); 
    color: rgb(0, 0, 0);
    padding: 10px; /* prevetn overlap*/
   

.store h2{
    
    
    text-align: left;    
    
    
}
 figcaption{
    block-size: auto;
    font-size: 0.8rem;
    
 }

 select{
    padding: 10px;
    
    font-size: 1rem;
    border-radius: 30px;
    border: none;
    margin-left:0.5%;
    float: left;
    color: rgb(24, 83, 73);
    font-weight: bold;
 }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*ABOUT PAGE*/
.hero-video {
    width: 100vw; /* 100% of the Viewport Width */
    height: 30vh; /* Takes up 60% of the screen height. Adjust as needed! */
    object-fit: contain; /* Forces the video to fill the space without stretching the pixels */
    display: block;
  }
.siteDetails{
    margin: 10rem;
    align-content: center;
    text-align: center;
}

.members_pics{
     border-collapse: separate; 
    border-spacing: 1rem;       
    margin: 0 auto;
    width: 100%;  
    table-layout: fixed;
    
    text-align: center;
    float : center;
}
.member_imgs td img {
    width: 250px;          
    height: 250px;          
    object-fit: cover;      
    border-radius: 50%;     
    border: 4px solid rgb(44, 145, 129);  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

}
#teamMembers{
    text-align: center;
    font-size: 2rem ;
    float: center;
}
dl{background-image: url("images/member_bg.png");
}

#member_names td{
    color: rgb(33, 116, 103);
    font-size: 1.2rem;
    font-weight: bold;
}
#bio{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
#aboutSite{
    
    font-size: 2rem;
    font-weight: bold;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*REVIEWS PAGE*/

.usericon{
    width: 45px;
    height: 45px;
}

.box{
    border-style: solid;
    border-color:  rgb(33, 116, 103);
    background-color: #ffffff;
    height: 15rem;
    width: 80rem;
    justify-content: space-around;
    padding: 2rem 2rem 0.5rem 2rem;

}

#reviews{
    
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 25rem;
    column-width: 5fr;
}

.username{
    flex-wrap: wrap;
}

#reviewh1{
    font-size: x-large;
    color: rgb(6, 44, 38);
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

#reviewh2{
    font-size: medium;
    color: rgb(33, 116, 103);
    text-align: center;
    padding-bottom: 2rem;
}

#reviewbody{
    background-color:  #f1f1f1;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*forms across all pages*/

form{
    background-image: url('images/nav.png');
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    text-align: center;}

#login-header{
    text-align: center;
    margin-bottom: 20px;
} 

#describe_misconduct{
    height: 28rem;
    width: 20rem;
    border-radius: 30px;
}

#report_form{
    height: 40rem;
    width: 30rem;
    font-size: large;
    
}

#reported_user{
    height:1rem;
    width:12rem;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 30px;
    border: none;
    margin-left: 30px;
    
}